<div class="identificators-container">
    <h3>Идентификаторы выбора письма для обработки</h3>
    <div class="identificators">
        <details class="multiple-select">
            <summary>Выбрать</summary>
            <div class="multiple-select-dropdown" id="ident-1">
            </div>
        </details>
    </div>
    <h3>Идентификаторы выбора информации из письма</h3>
    <div class="identificators">
        <details class="multiple-select">
            <summary>Почта отправителя</summary>
            <div class="multiple-select-dropdown" id="ident-2">
            </div>
        </details>
        <details class="multiple-select">
            <summary>СВХ</summary>
            <div class="multiple-select-dropdown" id="ident-3">
            </div>
        </details>
        <details class="multiple-select">
            <summary>А/м</summary>
            <div class="multiple-select-dropdown" id="ident-4">
            </div>
        </details>
        <details class="multiple-select">
            <summary>Время</summary>
            <div class="multiple-select-dropdown" id="ident-5">
            </div>
        </details>
        <details class="multiple-select">
            <summary>Компания получатель</summary>
            <div class="multiple-select-dropdown" id="ident-6">
            </div>
        </details>
        <details class="multiple-select">
            <summary>Тип события</summary>
            <div class="multiple-select-dropdown" id="ident-7">
            </div>
        </details>
    </div>
</div>